<div class="page-header">
    <div class="page-title">
      <h4> Liste des Clients </h4>
      <h6> Afficher/Rechercher des Clients </h6>
    </div>
    <div class="page-btn">
      <a [routerLink]="routes.addClient" class="btn btn-added">
        <img src="assets/img/icons/plus.svg" class="me-1" alt="img" /> Ajouter Client
      </a>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a (click)="showFilter = !showFilter" [class.setclose]="showFilter === true" class="btn btn-filter" id="filter_search">
              <img *ngIf="showFilter === false" src="assets/img/icons/filter.svg" alt="img" />
              <span *ngIf="showFilter === true"><img src="assets/img/icons/closes.svg" alt="img" /></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset">
              <img src="assets/img/icons/search-white.svg" alt="img" />
            </a>
            <div class="dataTables_filter">
              <label>
                <input [(ngModel)]="searchDataValue" (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control" placeholder="Rechercher..." />
              </label>
            </div>
          </div>
        </div>
        <div class="wordset">
          <ul>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                <img src="assets/img/icons/pdf.svg" alt="img" />
              </a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                <img src="assets/img/icons/excel.svg" alt="img" />
              </a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="print">
                <img src="assets/img/icons/printer.svg" alt="img" />
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="card mb-0 border-0" [ngClass]="{'show-sub-menu': showFilter === true, 'hide-sub-menu': showFilter === false}">
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="select" placeholder="Choisir un Client">
                  <mat-option *ngFor="let client of selectedList1" [value]="client.value">
                    {{client.value}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <!-- Ajoutez des colonnes supplémentaires pour les autres propriétés du client si nécessaire -->
            </div>
            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
              <div class="form-group">
                <a class="btn btn-filters ms-auto">
                  <img src="assets/img/icons/search-whites.svg" alt="img" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="table-responsive">
        <table (matSortChange)="sortData($event)" matSort matSortActive="Sno" matSortDirection="asc" matSortDisableClear class="table datanew">
          <thead>
            <tr>
              <th>
                <label class="checkboxs" (click)="selectAll(initChecked)">
                  <input type="checkbox" [(ngModel)]="initChecked" />
                  <span class="checkmarks"></span>
                </label>
              </th>
              <th mat-sort-header="ID">ID</th>
              <th mat-sort-header="nom">Nom</th>
              <th mat-sort-header="prenom">Prénom</th>
              <th mat-sort-header="adresse">Adresse</th>
              <th mat-sort-header="cin">CIN</th>
              <th mat-sort-header="delvirele">Date de Livraison</th>
              <th mat-sort-header="telephone">Téléphone</th>
              <th mat-sort-header="email">Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clientData; let i = index">
              <td>
                <label class="checkboxs">
                  <input type="checkbox" [(ngModel)]="client.isSelected" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td>{{ i + 1 }}</td>
              <td>{{ client.nom }}</td>
              <td>{{ client.prenom }}</td>
              <td>{{ client.adresse }}</td>
              <td>{{ client.cin }}</td>
              <td>{{ client.delvirele | date: 'short' }}</td>
              <td>{{ client.telephone }}</td>
              <td>{{ client.email }}</td>
              <td>
                <a class="me-3" [routerLink]="routes.editClient">
                  <img src="assets/img/icons/edit.svg" alt="img" />
                </a>
                <a
                  (click)="deleteBtn(client._id)"
                  class="me-3 confirm-text"
                  href="javascript:void(0);"
                >
                  <img src="assets/img/icons/delete.svg" alt="img" />
                </a>
              </td>
              <td>
                <!-- Ajoutez des liens d'action ici -->
              </td>
            </tr>
            <tr *ngIf="clientData.length === 0">
              <td colspan="12">
                <h5 class="no-record">Aucun enregistrement trouvé</h5>
              </td>
            </tr>
          </tbody>
        </table>
        <app-custom-pagination></app-custom-pagination>
      </div>
    </div>
  </div>
  