<body class="main_invoice">
    <!-- Header Start -->
    <div class="invc_header">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-sm-12">
                    <div class="header102">
                        <div class="header_logo">
                            <img src="images/invoice_logo.svg" alt="">
                        </div>
                        <div class="invoice_heading">
                            <h6></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Invoice Body Start -->
    <section class="invoice_section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="invoice_body">
                        <div class="nvdate_df">
                            <div class="nvde_dt45">
                                <p style="color: black; font-weight: bold;">LE CINTRAGE ALU</p>
                                <p style="color: black; font-weight: bold;">MENUISERIE ALUMINIUM</p>
                                <p style="color: black; font-weight: bold;">CINTRAGE DE TOUS GENRE DE PROFILES</p>

                            </div>
                            <div class="nvde_dt46">
                                <ul class="in11448">
                                    <li>
                                        <div class="vdt-list"><span>Date :</span>{{date}}</div>
                                    </li>
                                    <li>
                                        <div class="vdt-list"><span>Devis No :</span>{{devis.Reference}}</div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <h3 class="dff474">Devis N° {{devis.Reference}} Global</h3>
                        <div class="jike145">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="vhls140">
                                        <h4>Nom et Prénom</h4>
                                        <ul>
                                            <li>
                                                <div class="vdt-list" style="color: black;">{{devis.Client}}</div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="invoice_table">
                            <div class="table-responsive-md">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Produit</th>
                                            <th scope="col">Dimension</th>
                                            <th scope="col">Quantité</th>
                                            <th scope="col">Prix U HT</th>
                                            <th scope="col">Prix Total TTC</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of models">
                                            <th scope="row">
                                                <div class="user_dt_trans">
                                                    <p>{{i.model.Designation}}</p>
                                                    <p>{{i.couleur}}</p>
                                                    <p>{{i.vitre.Designation}}</p>
                                                </div>
                                            </th>
                                            <td>
                                                <div class="user_dt_trans">
                                                    <p> Surf : {{i.L * i.H /1000000}} m²</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="user_dt_trans">
                                                    <p>{{i.qte}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="user_dt_trans">
                                                    <p>{{i.prix_un_ht}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="user_dt_trans">
                                                    <p>{{i.totale}}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td colspan="4">
                                                <div class="user_dt_trans jsk1145">
                                                    <div class="totalinv2"> Total : {{devis.TotalTTC}} TND</div>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="invoice_footer">
                            <div class="leftfooter">

                            </div>
                            <div class="righttfooter">
                                <a class="print_btn" href="javascript:window.print();">Print</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Invoice Body End -->

    <!-- Scroll to Top Button Start -->
    <button onclick="topFunction()" id="pageup" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    <!-- Scroll to Top Button End -->

    <!-- Scripts js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/datepicker.min.js"></script>
    <script src="js/i18n/datepicker.en.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
    <script src="js/jquery.range-min.js"></script>
    <script src="js/custom1.js"></script>


</body>