
<div class="page-header">
    <div class="page-title">
        <h4> Add Couleur</h4>
        <h6>Create new Couleur</h6>
    </div>
</div>
<!-- /add -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="form-group">
                    <label>Reference</label>
                    <input type="text" [(ngModel)]="Reference">
                </div>
            </div>
            <div class="col-lg-8 col-sm-6 col-12">
                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" [(ngModel)]="Designation">
                </div>
            </div>

           

         
            <div class="col-lg-12">
                <button  class="btn btn-submit me-2" (click)="submit()">Submit</button>
                <a [routerLink]="routes.ListCouleur" class="btn btn-cancel">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- /add -->
