<div *ngIf="dataLoaded">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Articles</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Designation</th>
                                <th>Prix De Vente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Utilisez une double ngFor pour parcourir les sorties et les articles -->
                            <ng-container *ngFor="let sortie of sorties">
                                <ng-container *ngFor="let article of sortie.Article">
                                    <tr>
                                        <td>{{ article?.article?.Reference }}</td>
                                        <td>{{ article?.article?.Designation }}</td>
                                        <td>{{ article?.article?.PrixVenteTTC }}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="mt-12">
                    Somme des prix : {{ calculerSommePrix() | currency : 'TND' }}
                </div>
            </div>
        </div>
    </div>
</div>
