<div class="row">
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="dash-widget">
      <div class="dash-widgetimg">
      </div>
      <div class="dash-widgetcontent">
        <h5>
          
        </h5>
        <h6></h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="dash-widget dash1">
      <div class="dash-widgetimg">
        <span><img src="assets/img/icons/dash2.svg" alt="img" /></span>
      </div>
      <div class="dash-widgetcontent">
        <h5>
          <span class="counters">{{ sumOfPrices | number:'1.3-3' }}</span>
          TND
        </h5>
        <h6>Totale Article HT</h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="dash-widget dash2">
      <div class="dash-widgetimg">
        <span><img src="assets/img/icons/dash3.svg" alt="img" /></span>
      </div>
      <div class="dash-widgetcontent">
        <h5>
          <span class="counters">{{ sumOfPricesTTC | number:'1.3-3' }}</span>
          TND
        </h5>
        <h6>Totale Article TTC</h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="dash-widget dash3">
      <div class="dash-widgetimg">
       
      </div>
      <div class="dash-widgetcontent">
        <h5>
          
        </h5>
        <h6></h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count">
      <div class="dash-counts">
        <h4>{{clients.length}}</h4>
        <h5>Clients</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="user"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das1">
      <div class="dash-counts">
        <h4>{{fournisseurs.length}}</h4>
        <h5>Fournisseur</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="user-check"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das2">
      <div class="dash-counts">
        <h4>{{sorties.length}}</h4>
        <h5>Ventes</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="file-text"></i-feather>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12 d-flex">
    <div class="dash-count das3">
      <div class="dash-counts">
        <h4>{{articles.length}}</h4>
        <h5>Articles</h5>
      </div>
      <div class="dash-imgs">
        <i-feather name="file"></i-feather>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->

<div class="row">
  <div class="col-lg-7 col-sm-12 col-12 d-flex">
    <div class="card flex-fill">
      <div
        class="card-header pb-0 d-flex justify-content-between align-items-center"
      >
        <h5 class="card-title mb-0">Purchase & Sales</h5>
        <div class="graph-sets">
          <ul>
            <li>
              <span>Sales</span>
            </li>
            <li>
              <span>Purchase</span>
            </li>
          </ul>
          <div class="dropdown">
            <button
              class="btn btn-white btn-sm dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              2022
              <img src="assets/img/icons/dropdown.svg" alt="img" class="ms-2" />
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a href="javascript:void(0);" class="dropdown-item">2022</a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item">2021</a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item">2020</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [colors]="chartOptions.colors"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-sm-12 col-12 d-flex">
    <div class="card flex-fill">
      <div
        class="card-header pb-0 d-flex justify-content-between align-items-center"
      >
        <h4 class="card-title mb-0">Les Dernier Articles Ajouteé</h4>
        <div class="dropdown">
          <a
            href="javascript:void(0);"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            class="dropset"
          >
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a [routerLink]="routes.productList" class="dropdown-item"
                >Article List</a
              >
            </li>
            <li>
              <a [routerLink]="routes.addProduct" class="dropdown-item"
                >Ajouter Article</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive dataview">
          <table
            (matSortChange)="sortRecentlyAddedProducts($event)"
            matSort
            matSortActive="Sno"
            matSortDirection="asc"
            matSortDisableClear
            class="table datatable"
          >
            <thead>
              <tr>
                <th mat-sort-header="Sno">Reference</th>
                <th mat-sort-header="Products">Designation</th>
                <th mat-sort-header="Price">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dashboard of articles">
                <td>{{ dashboard.Reference }}</td>
                <td class="productimgname">
                  
                  <a [routerLink]="routes.productList">{{ dashboard.Designation }}</a>
                </td>
                <td>{{ dashboard.PrixVenteTTC | currency : currency }}</td>
              </tr>              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
